<!DOCTYPE html>

<html>
<body>

<form action="http://127.0.0.1:5000/naca/service" method="POST">
Angles start:<br>
<input type="text" name="angles_start">
<br>

Angles stop:<br>
<input type="text" name="angles_stop">
<br><br>
Number of angles:<br>
<input type="text" name="n_angles" >
<br>

Number of nodes:<br>
<input type="text" name="n_nodes">
<br>

Number of levels:<br>
<input type="text" name="n_levels">
<br>

Viscosity:<br>
<input type="text" name="viscosity">
<br>

Speed:<br>
<input type="text" name="speed">
<br>

Number of samples:<br>
<input type="text" name="samples">
<br>

Time:<br>
<input type="text" name="time">
<br>

<input type="submit" value="Submit">

</form>

<p>If you click the "Submit" button, the form-data will be sent to a page called "action_page.php".</p>

</body>
</html>
